body, td, a, p, .h {
    font-family: arial,sans-serif;
}
.search-container {
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    padding-top: 120px;
    /* height: 75%; */
    /* width: 100%; */
    /* justify-content: center; */
    margin-top: 30px;
}

.search-btn {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 25px;
    /* align-items: center; */
    justify-content: center;
}

.search-input {
    padding: 10px;
}

#search-btn {
    margin-right: 20px;
}

.search-box {
    padding: 12px;
    min-width: 560px;
    border-radius: 50px;
    border-color: #dbdada;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    padding: 12px;
}

.search-input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li {
    display: inline;
    vertical-align: middle;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

li a {
    color: #000;
    opacity: 0.75;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
}

li:hover a {
    text-decoration:underline;
}

img.profile {
    border-radius: 100%;
    height: 23px;
}

img.more {
    height: 17px;
}

.mic-icon {
    position: absolute;
    float: right;
    display: inline;
    padding: 10px;
    margin-left: -50px;
}

.search-box:hover{
    box-shadow: rgb(209, 220, 223) -1px 2px 5px;

}

.search-input:hover{
    box-shadow: rgb(238 239 241) -1px 2px 5px;
    border: 1px solid #dcdcdd;
}

.footer {

    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
width: 99%;
    padding-top: 10px;
    padding-bottom: 10px;
 
    
    
}


.foot-left {
    flex-grow: 1;
    vertical-align: middle;
    padding-right: 30px;
    color: #70757a;
}

.foot-right {
    flex-grow: 0;
    vertical-align: middle;
    padding-right: 30px;
    color: #70757a;
}

.footer a {
    padding-left: 20px;
}
/* 3 dots */
#gb#gb a.gb_e {
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }

  .gb_e:focus {
    opacity: 1;
  }
  
  .gb_K .gb_e, .gb_L .gb_K .gb_e {
    background-position: -64px -29px;
  }

  .gb_We button svg, .gb_e {
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .gb_e {
    padding: 8px;
    cursor: pointer;
  }

  .gb_e {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }

  .gb_2d {
    line-height: normal;
  }

  .gb_Qd {
    white-space: nowrap;
  }